body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFQaapciowIE_PMVOIOv_6MpxKMopODtJ8x8Ef7r1UFg&s=10");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
    padding: 20px;
}
