body{
    margin:0;
    padding:20px;
    background:
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFQaapciowIE_PMVOIOv_6MpxKMopODtJ8x8Ef7r1UFg&s=10");

    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
}

h1{
    color:white;
    text-align:center;
    font-size:50px;
    text-shadow:3px 3px 5px black;
}

p{
    color:white;
    text-align:center;
    font-size:25px;
}
