body{
    margin:0;
    padding:20px;
    
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("https://i.pinimg.com/736x/38/80/7e/38807e207e5a1764a1c6885e6fe5a779.jpg");

    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
}

h1{
    color:white;
    text-align:center;
    font-size:50px;
    text-shadow:3px 3px 5px black;
}

p{
    color:white;
    text-align:center;
    font-size:25px;
}
